<!DOCTYPE html>

<html x-ng-app="">
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<link type="text/css" rel="stylesheet" href="stylesheet.css" />
	<script	type ="text/javascript" src="script.js"></script>
</head>
<body x-ng-controller= "gameCtrl" x-ng-init="cellsDisplay">
	<h1>World Cup Tic-Tac-Toe!</h1>
	<h2><img src="img/brasil.jpg" class="avatar" /> Brazil: {{brasilScoreCount}} vs <img src="img/argentina.jpg" class="avatar" />Argentina: {{argentinaScoreCount}}</h2>
	<div id="mainfield">
	<br />
		<div id="board">
			
			<div class="fieldrow" x-ng-repeat="row in cellsDisplay track by $index" x-ng-repeat= "row in cellsScore track by $index">
				<div class="fieldcell" id="cells{{$parent.$index}}{{$index}}" x-ng-repeat="c in cellsDisplay track by $index" x-ng-repeat="c in cellsScore track by $index" x-ng-click="play($parent.$index, $index)">
						<img x-ng-src="{{cellsDisplay[$parent.$index][$index]}}">

				</div>
			</div>
		</div>
	</div>
	<br />
	      <input type= "button" value="Clear Board" id="clear" x-ng-click="clearBoard()">
</body>
</html>


